{% extends "archive/base.html" %}
{% load staticfiles %}
{% load fpp_extras %}

{% block title %}FPP Archive &ndash; Categories{% endblock %}

{% block conditional-css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block pre-search %}
{% endblock %}

{% block content %}
<div id="accordion-wrap" class="site-width">
  <p class="instruction">Access our online archive of important historical documents by entering
    search terms in the search field above, or by browsing the categories
    below.</p>
  <section class="categories-content">
    <h1 class="text-center">Categories</h1>
    <div class="site-width main-category">
      <ul>
        <li><a href='/results/?cat="Protecting+Women+and+Children"'>Protecting Women and Children</a></li>
        <li><a href='/results/?cat="Social+Virtue+and+Public+Policy"'>Social Virtue and Public Policy</h3></li>
        <li><a href='/results/?cat="Health+and+Wellness"'>Health and Wellness</a></li>
        <li><a href='/results/?cat="Procreation+Fertility+and+Eugenics"'>Procreation, Fertility and Eugenics</a></li>
        <li><a href='/results/?cat="Virtue+in+the+Military"'>Virtue in the Military</a></li>
      </ul>
    </div>
  </section>
</div>
{% endblock %}
