{% extends "archive/base.html" %}
{% load staticfiles %}
{% load fpp_extras %}

{% block title %}Mission &ndash; RSVP America{% endblock %}

{% block content %}
<div class="site-width">
  <section class="body-copy">
    <h1>RSVP America's Mission</h1>
    <blockquote>
      <p>For it seemed good to the Holy Ghost, and to us, to lay upon you no greater
        burden than these necessary things; That ye abstain from meats offered
        to idols, and from blood, and from things strangled, and from
        fornication: from which if ye keep yourselves, ye shall do well. Fare
        ye well.</p>
      <span class="attribution">Acts 15: 28-29</span>
    </blockquote>
    <p>The Apostle warns Christians of two appetites, that of food and sexual
      immorality, both of which are enslaving to man outside of the Biblical
      model. RSVPAmerica began in 1994 with a campaign to deal with the first
      of two appetites Christians were warned of in Acts 15:29.</p>
    <p>The first campaign researched and uncovered the fraud and junk science
      which led to our current “anything goes” sexual mores. We published a
      number of important works and built a national grassroots movement to
      restore legal protections -state by state – for marriage, women and
      children. America’sfounding legal protections were based on the Old and
      New Testament but were replaced by the ancient pagan view of sexuality
      repackaged by science in the middle of the 20th century. America’s
      pillars of virtue and purity dissolved and the resultant sexual
      revolution left the most vulnerable exposed and unprotected against
      predators while unleashing a vicious appetite for a “sexual freedom” that
      only led to sexual sin, disease and bondage.</p>
    <p>As the apostle warns in Acts there is another appetite of which the
      Christian must be mindful. In addition to an out-of-bounds sexual
      appetite, he warns us to beware of food. RSVPAmerica is beginning a
      second campaign to submit fully this appetite to God as well. God’s plan
      for Man in Genesis’ garden and its plenteousness – as created in the
      fruit, seed, and animals – has today been drastically altered and changed
      by modern food systems. In a few short decades, food growing and
      processing have left the land barren, animals sick, and people given to
      unbounded appetites often induced by the food industry. Not only are we
      sick, but so are the children who have chronic diseases from overfeeding
      and malnourishment. RSVPAmerica again cries restore while promoting An
      Appetite for God, a newly published workbook in which we demystify this
      complex problem to illustrate to God’s people His perfect plan.</p>
  </section>
</div>
{% endblock %}
