{% extends "archive/base.html" %}
{% load staticfiles %}
{% load fpp_extras %}

{% block pre-search %}<div class="search-results-banner"></div>{% endblock %}

{% block content %}
<section itemscope itemtype="https://schema.org/SearchResultPage" class="search-results site-width">
    <span>Search For: </span><h2>{{ query }}</h2>
    <p>Showing {{ first_doc }}-{{ last_doc }} of {{ total }} Documents</p>
    <hr class="separator">
    <ul>
        {% for result in results %}
        <li>
            <h3><a class="plain-link" href="{{ result.url }}" alt="{{ result.title }}">{{ result.title|title }}</a></h3>
            <dl>
                {% if result.author %}
                <span>
                  <dt>Author:</dt>
                  <dd  itemprop="author">{{ result.author|title }}</dd>
                </span>
                {% endif %}
                {% if result.publication %}
                <span>
                  <dt>Publication:</dt>
                  <dd itemprop="citation">{{ result.publication|title }}</dd>
                </span>
                {% endif %}
                {% if result.category %}
                <span>
                  <dt>Category:</dt>
                  <dd itemprop="citation">{{ result.category }}</dd>
                </span>
                {% endif %}
            </dl>
            {% if result.keyword %}
            <dl class="keywords">
                <dt>Keywords:</dt>
                <dd>{{ result.keyword|keylist:','|safe }}</dd>
            </dl>
            {% endif %}
            <hr class="separator">
        </li>
        {% endfor %}
    </ul>
</section>


<div class="pagination site-width">
  {% if results.has_previous %}
  <a class="plain-link previous-page" href="{% url 'archive:results' %}?{% if query %}q={{ query  }}{% endif %}{% if cat %}cat={{ cat  }}{% endif %}&page={{ results.previous_page_number  }}{% if full_text %}&fulltext=on{% endif %}"><i class="fa fa-arrow-left"></i> Previous</a>
  {% endif %}

  {% if total > 12 %}
  <ul>
    {% for page in page_range %}
    <li><a class="plain-link" href="{% url 'archive:results' %}?{% if query %}q={{ query  }}{% endif %}{% if cat %}cat={{ cat  }}{% endif %}&page={{ page  }}{% if full_text %}&fulltext=on{% endif %}">{{ page  }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if results.has_next %}
  <a class="plain-link next-page" href="{% url 'archive:results' %}?{% if query %}q={{ query  }}{% endif %}{% if cat %}cat={{ cat  }}{% endif %}&page={{ results.next_page_number  }}{% if full_text %}&fulltext=on{% endif %}">Next <i class="fa fa-arrow-right"></i></a>
  {% endif %}
</div>

{% endblock %}
