{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n grp_tags log %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
{% endblock %}

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li>{% trans "Home" %}</li>
    </ul>
{% endblock %}
{% block content_title %}
    {% if title %}
        <header><h1>{{ title }}</h1></header>
    {% endif %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="g-d-c">
        <div class="g-d-12 g-d-f">
            {% for app in app_list %}
                <div class="grp-module" id="app_{{ app.name|lower }}">
                    <h2><a href="{{ app.app_url }}" class="grp-section">{% trans app.name %}</a></h2>
                    {% for model in app.models %}
                        <div class="grp-row" id="model-{{ model.object_name|lower }}">
                            {% if model.admin_url %}
                                <a href="{{ model.admin_url }}"><strong>{{ model.name }}</strong></a>
                            {% else %}
                                <strong>{{ model.name }}</strong>
                            {% endif %}
                            {% if model.add_url or model.admin_url %}
                                <ul class="grp-actions">
                                    {% if model.add_url %}
                                        <li class="grp-add-link">
                                            <a href="{{ model.add_url }}">{% trans "Add" %}</a>
                                        </li>
                                    {% endif %}
                                    {% if model.admin_url %}
                                        <li class="grp-change-link">
                                            <a href="{{ model.admin_url }}">{% trans "Change" %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% empty %}
                <p>{% trans "You don´t have permission to edit anything." %}</p>
            {% endfor %}
            {% block custom_views %}
                {% if custom_list %}
                    <div class="grp-module" id="custom_views">
                        <h2>{% trans 'Custom Views' %}</h2>
                        {% for path, name in custom_list %}
                            <div class="grp-row">
                                <a href="{{ path }}"><strong>{{ name }}</strong></a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}
            {% block index_sync %}
            <div class="grp-module">
              <h2>Sync Index</h2>
              <div class="grp-row">
                <p><span style='color: red; font-weight: bold'>Notice:</span> It may take several
                minutes to sync your added files to the index because of the
                OCR process. You can reduce the chance of dropping your
                connection to the server by keeping your queue small.</p>
                <form action="{% url 'archive:verify_upload' %}"
                      method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <button style="margin: 4px 0; width: inherit; border-radius: 2px; background-color: #ddd; color: #000;" type="submit" id="upload-btn" class="contribute-btn">
                    Sync Index Queue
                  </button>
                </form>
              </div>
            </div>
            {% endblock %}
        </div>
        <div class="g-d-6 g-d-l">
            <div class="grp-module" id="grp-recent-actions-module">
                <h2>{% trans 'Recent Actions' %}</h2>
                <div class="grp-module">
                    <h3>{% trans 'My Actions' %}</h3>
                    {% get_admin_log 10 as admin_log for_user user %}
                    {% if not admin_log %}
                        <div class="grp-row"><p>{% trans 'None available' %}</p></div>
                    {% else %}
                        <ul class="grp-listing-small">
                            {% for entry in admin_log %}
                                <li class="grp-row{% if entry.is_addition %} grp-add-link{% endif %}{% if entry.is_change %} grp-change-link{% endif %}{% if entry.is_deletion %} grp-delete-link{% endif %}">
                                    {% if entry.is_deletion %}
                                        <span>{{ entry.object_repr }}</span>
                                    {% else %}
                                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                    {% endif %}
                                    <span class="grp-font-color-quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

