{% extends "archive/base.html" %}
{% load staticfiles %}

{% block pre-search %}
<picture>
  <source
    media="(min-width: 501px)"
    srcset="{% static 'fpp_archive/img/articles/education_reform.jpg' %}">
  <img class="block" src="{% static 'fpp_archive/img/logo/logo.png' %}" alt="RSVP Logo">
</picture>
{% endblock %}

{% block content %}
<section class="article article-list site-width">
  <h1 class="text-center">Articles</h1>
  {% if article_list %}
    <ul class="plain-list">
    {% for article in article_list %}
        <li><a class="plain-link" href="{% url 'article' article.id %}"><h2>{{ article.title }}</h2></a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles are available.</p>
{% endif %}
</section>
{% endblock %}
